@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(220, 245, 242);
  }
  header{
    .logo {
      width: 100px;
      padding-top: 20px;
    }
    background-color: #0abdae;
    border-bottom: 1px solid rgb(12, 12, 12);
    text-align: center;
    padding: 10px 20px;
  }
  
  nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
  }
  
  a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
  }
  main{
    margin: 20px;
    padding: 20px;
  }
  h1{
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px;
  }
  footer{
    margin: 20px;
    padding: 20px;
    border-top: 1px solid black;
    text-align: center;
  }
.footerRedes a{
  font-size: 17px;
  color: #b788be;
  display: block;
  margin-bottom: 20px;

}
.footerRedes a:hover{
  color: #00c3ff;
}
.socials a{
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: #00c3ff;
  margin: 0 15px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffff;
  font-size: 20px;

}
.socials a:hover{
  background-color: #ffff;
  
}
.textFooter{
  display: flex;
  justify-content: space-between;
}
.textFooter p {
  font-size: 15px;
  color: #b7b8be;

}
  .galeriaGrid{
  display: grid;
  grid-template-columns: repeat(4, fr);
  padding: 20px;
  grid-gap: 10px;

  }
  .contenedorDestino img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .imgdes{
    display: block;
    width: 100%;
    height: auto;
  }

  iframe{
    display: block;
    margin: auto;
  }
  form{
    margin-top: 20px;
  
  }
  label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  input,
  textarea{
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #0abdae;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
  
  }
  .piepag{
    background-image: url(../assets/img/svg\ \(2\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
  }